### Web scraping Data Source

In [ ]:
# pip install -U selenium

In [ ]:
# pip install -U webdriver_manager

In [7]:
import pandas as pd
import os
from selenium import webdriver
from selenium.webdriver.common.by import By # used to import different ways to access data in the XML or HTML file
from selenium.webdriver.chrome.service import Service # no longer need to download a driver file, use service
from webdriver_manager.chrome import ChromeDriverManager # used to manage the Chrome driver to emulate a Chrome web browser

from selenium import webdriver
# needed to randomize time on the page and scrolling
# import time
# import random

In [8]:
# initialize the Selenium web driver (Chrome in this case)
browser = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

# navigate to the web page using the URL

url = "https://www.laalmanac.com/population/po24la.php"

browser.get(url)
browser.maximize_window()

In [33]:
def scrape_population(browser):
    # Find the first <thead> element
    first_thead = browser.find_element(By.XPATH, "//table[1]/thead[1]")
    header_rows = first_thead.find_elements(By.XPATH, ".//tr")
    
    for header_row in header_rows:
        print(header_row.text)  # Process each header row (if needed)

    # Find all <tbody> elements
    tbody_elements = browser.find_elements(By.XPATH, "//tbody")
    print(len(tbody_elements))

    # Create empty lists to store the extracted data
    total_population = []
    american_indian_alaska_native = []
    asian = []
    african_american = []
    native_hawaiian_pacific_islander = []
    white = []
    other_race = []
    two_plus_races = []
    hispanic_latino = []

    # Loop through each <tbody> to get the rows
    for tbody in tbody_elements:
        rows = tbody.find_elements(By.XPATH, ".//tr")  # Fixed relative XPath
        
        for row in rows[::2]:  # Skip every other row
            print(row.text)
            
            # Extract data
            total_population.append(row.find_element(By.XPATH, './td[1]').text)
            american_indian_alaska_native.append(row.find_element(By.XPATH, './td[2]').text)
            asian.append(row.find_element(By.XPATH, './td[3]').text)
            african_american.append(row.find_element(By.XPATH, './td[4]').text)
            native_hawaiian_pacific_islander.append(row.find_element(By.XPATH, './td[5]').text)
            white.append(row.find_element(By.XPATH, './td[6]').text)
            other_race.append(row.find_element(By.XPATH, './td[7]').text)
            two_plus_races.append(row.find_element(By.XPATH, './td[8]').text)
            hispanic_latino.append(row.find_element(By.XPATH, './td[9]').text)

    return (
        total_population, american_indian_alaska_native, asian,
        african_american, native_hawaiian_pacific_islander, white,
        other_race, two_plus_races, hispanic_latino
    )

# Call the function and unpack results
(
    total_population, american_indian_alaska_native, asian,
    african_american, native_hawaiian_pacific_islander, white,
    other_race, two_plus_races, hispanic_latino
) = scrape_population(browser)

Neighborhood Total Population, All Races Population of One Race Alone† Two or More Races** Hispanic or Latino††
American Indian & Alaska Native Asian Black or African American Native Hawaiian & Other Pacific Islander White (Not Hispanic or Latino)‡ Some Other Race
51
City of L.A. 3,857,897 44,777 463,960 328,445 5,627 1,092,687 967,895 607,324 1,822,163
Adams-Normandie 6,791 129 394 783 63 663 2,673 944 4,783
Arleta 33,884 452 4,430 181 46 2,958 12,733 7,266 25,861
Arlington Heights 13,269 121 1,919 2,293 0 744 5,048 1,755 8,195
Arlington Park 2,896 68 32 1,169 0 122 929 95 1,508
Atwater Village 10,098 41 2,129 113 0 3,953 2,075 1,278 3,238
Baldwin Hills 25,210 216 535 13,592 67 2,122 4,224 3,546 8,433
Bel Air 7,351 3 972 242 0 5,382 109 576 370
Beverly Crest 5,662 0 301 135 0 4,668 36 405 258
Beverly Glen 3,880 0 431 45 0 2,741 84 559 447
Beverlywood 4,867 0 789 354 0 2,918 87 430 521
Boyle Heights 85,993 1,772 2,255 1,047 26 2,273 56,200 12,298 79,855
Brentwood 33,341 62 2,735 381 55 25,380 518 3,514 3,000
Broadway-Manchester 12,152 88 32 2,451 0 87 4,894 3,077 9,620
Byzantine-Latino Quarter 20,425 375 3,348 621 50 848 9,010 3,899 15,419
Cahuenga Pass 3,380 0 135 78 0 2,566 51 258 442
Canoga Park 58,430 409 8,667 2,326 15 13,672 22,101 7,173 31,822
Carthay Circle 1,414 0 91 12 0 1,085 0 193 128
Central-Alameda 26,617 511 131 2,144 19 183 12,460 7,429 23,907
Century City 3,106 0 616 101 0 1,874 0 486 129
Century Cove 19,153 262 157 4,386 6 86 7,818 3,776 14,479
Century Palms 11,731 633 177 2,094 0 172 3,711 3,095 8,964
Chatsworth 40,401 153 7,486 2,649 0 16,159 5,047 6,313 12,192
Cheviot Hills 3,771 0 179 12 0 2,900 73 543 278
Chinatown & Historic L.A. 20,973 303 6,287 3,507 39 3,094 4,480 2,385 7,018
Country Club Park 10,450 27 2,827 1,780 19 1,578 2,093 1,215 3,934
Crenshaw 4,571 12 861 2,246 0 299 547 423 852
Cypress Park 13,205 180 2,178 184 0 1,794 4,743 2,810 8,621
Del Rey 34,446 136 5,206 1,479 25 14,000 4,160 5,926 11,829
Downtown 59,209 738 16,587 10,033 112 15,007 6,295 7,634 13,966
Eagle Rock 34,926 520 8,201 479 26 11,179 5,091 6,701 12,654
East Hollywood 39,931 477 6,436 1,753 11 12,265 12,521 4,051 18,322
Echo Park 28,452 203 4,240 717 30 9,415 7,757 4,027 12,455
El Sereno 38,601 785 4,442 1,002 0 3,556 15,635 7,531 29,222
Elysian Park 143 0 73 0 1 12 46 9 53
Elysian Valley 6,547 121 2,194 111 58 1,088 1,781 747 2,862
Encino 53,085 113 2,955 1,250 17 39,715 2,171 5,537 6,045
Exposition Park 4,143 24 414 681 0 94 1,699 902 2,854
Fairfax 10,435 39 1,847 477 15 6,312 290 1,149 1,044
Figueroa Park Square 14,254 222 140 4,920 0 322 4,671 2,893 8,586
Florence (LA) 52,118 1,188 298 8,339 23 345 25,871 9,638 42,682
Glassell Park 21,898 932 3,559 427 7 5,547 5,881 4,299 11,338
Gramercy Park 9,933 22 79 6,635 4 229 1,519 1,285 2,322
Granada Hills 62,840 978 11,003 1,914 99 25,948 7,874 10,144 20,817
Green Meadows 20,564 443 227 3,723 0 45 7,725 5,130 16,122
Griffith Park/Los Feliz 32,432 145 3,491 1,364 31 20,226 2,419 3,342 5,884
Hancock Park 11,742 9 2,192 632 0 7,098 210 1,265 1,467
Hansen Dam Rec Area 16 0 11 0 0 1 4 0 4
Harbor City 24,640 80 4,821 2,386 138 4,126 4,491 5,093 12,431
Harbor Gateway 39,225 245 7,595 6,170 9 2,869 11,679 7,307 21,658
Harvard Heights 10,171 121 2,139 521 0 589 4,149 1,519 6,755
Hermon 3,007 22 418 45 0 669 1,084 592 1,595
Highland Park 41,586 1,737 4,544 620 0 9,000 12,158 9,348 26,098
Historic South Central 46,836 1,194 713 2,522 48 1,054 24,932 10,741 42,393
Historic West Adams 8,336 32 518 1,407 32 709 2,683 1,481 5,295
Hollwood Hills 13,515 19 1,351 939 0 8,796 722 1,394 1,706
Hollywood 98,119 953 9,619 7,159 182 45,881 16,777 11,757 30,297
Hyde Park 31,655 264 463 16,940 56 1,363 4,700 6,152 11,080
Jefferson Park 18,868 61 488 3,798 0 1,729 6,228 3,529 12,340
King Estates 4,480 28 198 770 8 198 2,067 693 3,190
Koreatown 24,225 285 7,057 1,128 9 2,396 7,758 3,681 12,921
La Tuna Canyon 3,595 30 266 20 0 2,552 174 386 606
Lake Balboa 22,381 265 2,253 554 0 7,978 5,213 4,309 10,587
Lakeview Terrace 14,030 126 653 1,158 0 3,142 3,206 3,859 8,345
Larchmont Village 4,285 17 913 215 0 2,302 95 630 461
Larchmont-St. Andrew's Square 3,857 0 1,179 205 0 1,544 613 229 796
Leimert Park 9,360 44 380 6,893 26 489 504 733 1,253
Lincoln Heights 28,798 577 7,610 527 225 2,253 12,476 2,887 18,041
Manchester Square 9,245 281 82 5,812 0 417 1,189 865 2,654
Maplewood-St. Andrews 3,360 79 1,242 92 0 488 976 307 1,366
Mar Vista 40,603 373 6,582 1,715 15 20,595 3,636 5,256 8,938
Marina 3,858 0 229 116 0 2,477 91 742 574
Melrose 13,275 90 1,354 483 9 9,191 661 1,034 1,501
Mid-City 28,564 501 1,829 6,116 0 4,293 8,385 4,220 15,101
Mid-City West 15,375 4 1,090 854 0 11,186 396 1,504 1,053
Mid-Wilshire (Brookside) 17,768 23 1,431 1,219 5 12,253 495 1,700 1,529
Mid-Wilshire (Fremont Place-Windsor Village) 21,157 34 3,249 1,345 5 12,998 753 2,055 2,073
Mid-Wilshire (Wilshire Park) 10,346 231 4,846 568 0 1,109 2,121 982 3,527
Miracle Mile 20,798 127 4,513 1,947 0 9,660 1,251 2,508 3,073
Mission Hills 22,189 501 2,238 553 51 3,625 8,720 4,329 15,508
Montecito Heights 3,839 104 857 50 0 811 1,030 722 1,944
Monterey Hills 4,083 25 1,839 378 0 811 295 626 774
Mt. Washington 10,827 70 938 117 0 5,431 1,444 2,133 3,757
North Hills 49,080 477 6,046 1,957 0 8,022 20,219 8,576 31,534
North Hollywood 131,179 1,321 9,993 6,713 80 41,271 33,018 25,600 69,139
Northridge 73,713 636 14,346 3,986 78 27,856 14,885 8,292 24,447
Olympic Park 3,386 18 1,314 175 0 449 659 438 1,369
Pacific Palisades 23,648 0 1,528 180 0 19,245 192 2,122 887
Pacoima 70,417 657 1,476 2,225 43 1,734 26,939 24,943 63,833
Palms 28,075 212 5,805 2,553 46 11,460 3,048 3,663 6,602
Panorama City 64,841 587 9,161 1,935 101 7,005 36,118 6,226 46,020
Picfair Village 2,799 15 112 961 22 1,004 9 496 377
Pico Park 2,674 39 98 523 0 408 467 930 1,662
Pico-Union 15,914 573 1,263 409 8 803 8,226 1,537 13,220
Playa del Rey 12,919 42 1,455 491 10 8,304 564 1,426 2,472
Playa Vista 10,392 0 1,746 581 0 5,912 306 1,574 1,240
Porter Ranch 25,599 171 8,763 2,278 144 10,606 861 2,234 2,565
Rampart Village 5,731 26 1,820 396 0 925 1,616 478 2,358
Rancho Park 9,409 8 1,886 347 24 5,442 469 995 837
Redondo Sycamore 2,525 1 262 576 0 1,108 234 215 491
Reseda 65,444 633 8,798 3,192 212 16,132 22,593 8,299 35,261
San Pedro 83,697 808 5,677 4,216 351 26,747 14,293 15,843 42,545
Sepulveda Dam Recreation Area 205 0 26 0 0 80 80 0 94
Shadow Hills 4,021 18 185 101 0 2,918 45 712 492
Sherman Oaks 67,774 208 5,016 3,746 90 43,079 3,450 9,489 11,158
Silver Lake 35,244 247 4,772 1,114 147 16,339 5,445 4,827 10,807
South Carthay 3,333 9 189 177 0 1,790 292 610 831
South Park 50,983 1,208 97 4,127 129 432 25,436 11,178 46,036
South Robertson 44,805 392 3,718 4,784 48 23,285 5,468 5,845 10,261
Studio City 39,507 143 3,317 2,053 0 27,050 1,121 4,804 4,349
Sun Valley 43,627 555 2,308 1,161 111 9,804 11,212 12,887 29,374
Sunland 17,961 74 1,666 644 6 10,886 1,224 2,543 4,189
Sycamore Grove 6,781 135 1,446 231 0 1,217 2,797 665 3,886
Sylmar 80,623 1,444 5,973 2,380 311 8,554 26,407 18,778 62,488
Tarzana 12,611 6 838 654 0 9,289 351 1,343 1,037
Terminal Island 970 16 49 137 10 407 10 0 341
Toluca Lake 4,390 0 309 129 47 2,905 237 582 618
Toluca Woods 2,990 0 265 247 0 1,657 340 374 632
Topanga State Park 75 0 10 0 0 65 0 0 0
Tujunga 25,988 222 2,329 473 30 14,888 2,635 4,387 7,252
University Expo Park West 19,183 559 1,486 3,635 95 1,090 7,061 2,826 12,043
University Hills 5,128 104 865 365 0 731 1,803 993 3,114
University Park 24,605 237 6,416 1,664 32 6,590 4,355 3,164 8,928
Valley Glen 38,129 94 2,050 1,721 0 19,074 5,671 6,689 13,402
Valley Village 22,437 146 1,835 2,156 35 12,404 1,692 3,239 4,362
Van Nuys 111,373 1,208 8,309 5,978 327 23,528 35,052 25,381 70,298
Venice 30,537 211 1,996 2,292 45 20,152 1,596 3,456 4,126
Vermont Knolls 27,421 263 196 10,243 79 430 10,762 4,175 16,358
Vermont Square 64,276 1,012 743 13,613 47 1,420 30,842 9,100 46,541
Vermont-Slauson/Harvard Park/Chesterfield Square 36,381 387 251 9,449 0 644 15,671 7,459 25,929
Vermont Vista 11,794 108 64 2,071 14 183 4,257 2,907 9,371
View Heights 4,032 0 233 2,675 0 401 280 320 475
Virgil Village 768 26 95 24 0 186 204 64 457
Watts 38,737 867 566 7,715 5 311 17,118 7,432 29,604

West Adams 22,914 113 618 5,664 0 2,338 6,609 4,253 13,711
West Adams Terrace/Kinney Heights/Berkely Square 9,085 35 537 3,353 0 799 1,779 1,525 3,972
West Hills 33,097 376 4,838 1,564 39 19,992 1,421 3,771 4,273
West LA 48,625 78 10,035 1,818 70 25,711 3,305 5,399 7,753
West Toluca Lake 4,215 0 484 279 0 2,114 449 751 1,239
Westchester 41,624 370 6,857 4,122 87 19,930 1,572 6,689 7,501
Western Heights/Sugar Hill/West Adams Heights 2,965 36 564 596 0 272 1,176 185 1,235
Western Wilton 4,564 0 2,375 122 0 302 749 559 1,514
Westlake & Historic Filipinotown 114,106 3,061 23,612 8,430 220 7,271 46,918 12,323 72,714
Westside Village 10,029 15 3,025 511 64 4,302 843 888 1,477
Westwood 51,900 187 13,918 2,350 170 25,775 3,021 4,597 6,855
Wilmington 52,030 540 1,635 1,697 161 1,839 12,306 7,379 46,595
Wilshire Center 60,303 949 20,745 3,619 117 5,741 18,871 6,648 28,516
Wilshire Vista 2,201 9 109 278 0 831 308 576 407
Wilshire Vista Heights 2,773 0 243 717 0 937 459 263 672
Windsor Square 2,781 0 1,246 109 0 794 100 481 362
Winnetka 75,191 694 13,114 2,999 46 23,594 20,575 9,824 31,335
Woodland Hills 80,233 477 9,874 5,559 180 45,874 6,049 9,037 13,642

In [34]:
# form a pandas dataframe
scrape_population_df = pd.DataFrame({
        "Total Population": total_population,
        "American Indian and Alaska Native": american_indian_alaska_native,
        "Asian": asian,
        "African American": african_american,
        "Native Hawaiian and Other Pacific Islander": native_hawaiian_pacific_islander,
        "White": white,
        "Some Other Race": other_race,
        "Two or More Races":two_plus_races,
        "Hispanic or Latino":hispanic_latino,
    
})


# display the DataFrame
scrape_population_df

,Total Population,American Indian and Alaska Native,Asian,African American,Native Hawaiian and Other Pacific Islander,White,Some Other Race,Two or More Races,Hispanic or Latino
0,City of L.A.,"3,857,897","44,777","463,960","328,445","5,627","1,092,687","967,895","607,324"
1,Adams-Normandie,"6,791",129,394,783,63,663,"2,673",944
2,Arleta,"33,884",452,"4,430",181,46,"2,958","12,733","7,266"
3,Arlington Heights,"13,269",121,"1,919","2,293",0,744,"5,048","1,755"
4,Arlington Park,"2,896",68,32,"1,169",0,122,929,95
...,...,...,...,...,...,...,...,...,...
147,Wilshire Vista,"2,201",9,109,278,0,831,308,576
148,Wilshire Vista Heights,"2,773",0,243,717,0,937,459,263
149,Windsor Square,"2,781",0,"1,246",109,0,794,100,481
150,Winnetka,"75,191",694,"13,114","2,999",46,"23,594","20,575","9,824"
151,Woodland Hills,"80,233",477,"9,874","5,559",180,"45,874","6,049","9,037"

In [36]:
total_population = scrape_population_df.to_csv('total_la_population.csv', index=False)